@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

@import './header.css';

@import './user.css';

body {
  background-image: linear-gradient(white,whitesmoke);
}

.make-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.make-left-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.width-100 {
  width: 100vw;
}